header {
  height: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #45caff;
  opacity: 0.95;
  position: sticky;
  top: 0;
  margin-bottom: 2.5rem;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.home-link {
  width: rem;
}

.site-logo {
  width: 15%;
  margin-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #555;
}

.archive,
.favourites {
  color: #011627;
  font-size: 2rem;
}

.archive:hover,
.favourites:hover {
  color: #a39b9c;
}

header div {
  display: flex;
  align-items: center;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  header {
    height: 5.2rem;
    right: 0;
  }
  .site-logo {
    width: 13%;
    margin-left: 1rem;
  }

  .archive,
  .favourites {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 5rem;
  }

  .site-logo {
    width: 10%;
    margin-left: 1rem;
  }

  .archive,
  .favourites {
    font-size: 1.6rem;
  }

  nav {
    order: 3;
    justify-content: center;
    margin-top: 0.5rem;
  }

  nav a {
    padding: 5px 10px;
  }

  .archive,
  .favourites {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 4rem;
  }

  .site-logo {
    width: 20%;
  }

  nav {
    justify-content: center;
  }

  nav a {
    padding: 5px 8px;
    margin-bottom: 0.5rem;
  }

  .archive,
  .favourites {
    font-size: 1.4rem;
  }
}
