header {
  height: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #45caff;
  opacity: 0.95;
  position: sticky;
  top: 0;
  margin-bottom: 2.5rem;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.site-logo {
  width: 15%;
  margin-left: 2rem;

}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

nav a:hover {
  color: #555;
}

.archive,
.favourites {
  color: #011627;
  font-size: 2rem;
}

.archive:hover,
.favourites:hover{
  color: #a39b9c;
}

header div {
  display: flex;
  align-items: center;
}