.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 5px;
  background-color: #f1f1f1;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.search-icon {
  position: absolute;
  left: 15px;
  color: #888;
  font-size: 1.2em;
}

.search-input {
  width: 100%;
  padding: 10px 15px 10px 40px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 1em;
  color: #333;
  background-color: transparent;
}

.search-input::placeholder {
  color: #888;
}
