.show-list{
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.show-tile{
    box-shadow: 1px 9px 19px -1px rgba(7,6,6,0.75);
    -webkit-box-shadow: 1px 9px 19px -1px rgba(7,6,6,0.75);
    -moz-box-shadow: 1px 9px 19px -1px rgba(7,6,6,0.75);
    transition: transform .2s; 
    border-radius: 0.5rem;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    /* border-radius: 8px; */
    overflow: hidden;
    width: 18rem;
}

.show-tile:hover {
    transform: scale(1.15);
}

.show-tile img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.show-tile-item {
    position: relative;
    overflow: hidden;
}


.show-info {
    flex-direction: column;
    text-align: center;
}

.show-name {
    color: #46515b;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.show-genre {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.show-updated,
.show-seasons {
    font-size: 14px;
    color: #888;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70vw;
}

.filter_sort {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2.5em;
    justify-content: space-between;
    align-items: center;
}

.selected {
    background-color: #93dbef;
    padding: 0.8rem;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}

.clear-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-button {
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 4px;

}

.sort-button:hover {
    background-color: #f49292;
}

.selected-sort-button {
    background-color: #f49292;
    font-weight: 400;
}


.clear-button:hover {
    background-color: #d32f2f;
}

.sort-shows-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

#demo-simple-select-label {
    height: 2rem;
}

.loader {
    position: absolute;
    top: 50%;
    right: 50%;
}

.genre-box {
    color: #46515b;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
